#banner {
    background-image: url("./img/coding.jfif"); 
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}

#section1 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

#card1 {
    width: 30%;
    height: 400px;
    background-image: url(./img/imagen\ mortal\ html.png);  
    background-size: cover;
    background-repeat: no-repeat;
}

#card2 {
    width: 30%;
    height: 400px;
    background-image: url("./img/robot\ mortal\ franchesco\ correa.jfif"); 
    background-size: cover;
    background-repeat: no-repeat;
}

#card3 {
    width: 30%;
    height: 400px;
    background-image: url("./img/codigo\ binario.png");
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    background-color: #242323;
    margin-top: 40px;
    width: 100%;
    height: 400px;
}